<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
    <br/>
    <br/>
    {% for message in message_history %}
        {% if message.user_id == recipient_id %}
            {{ recipient_name }}   <pre>      {{ message.text }} </pre> <br/>
        {% else %}
            {{ user_name }}   <pre>      {{ message.text }} </pre> <br/>
        {% endif %}
    {% endfor %}

    <br/>
    Enter text message
    <br/>
        <form action="" method="post">
            <input type="text" name="message" value="{{ message }}"/>
            <input type="submit"/>
        </form>

    <br/><br/><br/>
    <br/><br/><br/><br/>

    {% include "users/includes/logout.html" %}

</body>
</html>
