<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>

Enter your username and password

<form action="/registration" method="post">
    {% if errors %}
        Errors:
        <ul>
            {% for error in errors %}
                <li>{{ error }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    <br/>
    <input type="text" name="username" value="{{ username }}"/>
    <br/>
    Password
    <br/>
    <input type="password" name="password" />
    <br/>
    <input type="submit"/>
</form>


</body>
</html>